body{
    background-image: url("bg2.jpg");
    background-size: cover;
    margin: 10px;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 600px;
    height:400px;
    color: rgb(63, 61, 61);
    margin-top: 5%;
    margin-left:30%;
    background-color: rgba(153, 163, 164 ,0.6);
    border: white;
    border-radius: 10px;
    border-width: 5px;
    padding: 20px;
    text-align: center;

}
#shadow{
    box-shadow:0 10px 20px rgba(0,0,0,0.29),0 6px 6px rgba(0,0,0,0.43);
}
button{
    width: 200px;
    padding: 10px;
    height: 40px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}
#increment_btn{
    background-color: rgb(47, 47, 47); 
}
#save_btn{
    margin-top: 20px;
    background-color: darkgreen; 
}