body{
    /*background-image: url("bg2.jpg");
    background-size: cover; */
    background-color: #353634;
    margin: 10px;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 600px;
    height:550px;
    color: rgb(63, 61, 61);
    margin-top: 5%;
    margin-left:10%;
    background-color: #668284;
    border: white;
    border-radius: 10px;
    border-width: 5px;
    padding: 20px;
    text-align: center;

}
#shadow{
    box-shadow:0 10px 20px rgba(0,0,0,0.29),0 6px 6px rgba(0,0,0,0.43);
}
button{
    width: 200px;
    padding: 10px;
    height: 40px;
    margin: 0 5px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}
#buttons_row{
    display: flex;
    flex-direction: row;
}
#increment_btn{
    background-color: #353634; 
}
#decrement_btn{
    background-color: #353634; 
}
#save_btn{
    background-color: darkgreen; 
}